.about-us {
  width: 100%;
}

.about-us__wrapper {
  @media (min-width: $vp-1150) {
    width: 794px;
  }
}

.about-us__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 13px;
    max-width: 70%;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 39px;
  }
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 100%;

  @media (min-width: $vp-768) {
    column-count: 2;
    display: block;
  }
}

.about-us__item {
  margin: 0;
  padding-top: 83px;
  position: relative;

  &::before {
    display: inline-block;
    position: absolute;
    left: 0;
    width: max-content;
    height: max-content;
  }

  &--eco::before {
    content: url("../img/eco-flower-icon.svg");
    top: 28px;
    left: 8px;
  }

  &--price::before {
    content: url("../../img/price-money-icon.svg");
    top: 30px;
  }

  &--likes::before {
    content: url("../../img/likes-heart-icon.svg");
    top: 35px;
    left: 8px;
  }

  &--hand-made::before {
    content: url("../../img/hand-made-ball-icon.svg");
    top: 32px;
    left: 4px;
  }

  &--support::before {
    content: url("../../img/support-rocket-icon.svg");
    top: 33px;
    left: -4px;
  }

  &--present::before {
    content: url("../../img/present-icon.svg");
    top: 32px;
    left: 4px;
  }

  @media (min-width: $vp-768) {
    width: 100%;
    padding-top: 85px;
    margin-bottom: 25px;

    &--hand-made,
    &--support,
    &--present {
      transform: translateX(-6px);

      &::before {
        left: 1px;
      }
    }

    &--support::before {
      left: -8px;
    }
  }
}

.about-us__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $color-black;
  margin: 0;

  @media (min-width: $vp-768) {
    min-width: 235px;
    max-width: 304px;
    font-size: 20px;
    line-height: 22px;
  }
}
