.contacts {
  width: 100%;
  max-width: $vp-1150;
}

.contacts__container {
  @media (min-width: $vp-768) {
    position: relative;

    &::before {
      content: url("../../img/flag-icon.svg");
      position: absolute;
      top: -20px;
      right: 50px;
    }
  }

  @media (min-width: $vp-1150) {
    padding: 0 50px;

    &::before {
      top: 63px;
      left: 113px;
    }
  }
}

.contacts__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
  margin-bottom: 28px;
  padding: 0 30px;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
    max-width: 80%;
    margin-bottom: 49px;
    padding: 0 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
    padding: 0;
    width: 300px;
    margin: 79px 58px 35px 174px;
  }
}

.contacts__list {
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 32px;
  margin-bottom: 62px;
  padding: 0 30px;

  @media (min-width: $vp-768) {
    grid-template-columns: 50% 50%;
    margin-bottom: 49px;
    padding: 0 50px;
  }

  @media (min-width: $vp-1150) {
    grid-template-columns: 331px;
    padding: 0;
    margin: 0 23px 71px 174px;
  }
}

.contacts__item {
  display: grid;
  grid-template-columns: 30% 70%;

  @media (min-width: $vp-768) {
    grid-template-columns: 25% 75%;
  }
}

.contacts__text,
.contacts__text-link,
.contacts__text-info {
  margin: 0;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.contacts__text{
  margin-right: 10px;

  @media (min-width: $vp-768) {
    margin-right: 30px;
  }

  @media (min-width: $vp-1150) {
    margin-right: 10px;
  }
}

.contacts__text-link {
  text-decoration: none;
  width: max-content;
  max-width: 170px;
  cursor: pointer;
  color: $color-charcoal-grey;
  position: relative;
  height: max-content;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $color-downy-2;
    bottom: 2px;
    left: 0;
  }

  &:hover {
    color: $color-puerto-rico-2;
  }

  &:active {
    color: $color-puerto-rico-2;
  }

  &:active::before {
    opacity: 0.1;
  }

  @media (min-width: $vp-768) {
    max-width: 204px;
  }

  @media (min-width: $vp-1150) {
    max-width: 82%;
  }
}

.contacts__map-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 42px;

  @media (min-width: $vp-768) {
    margin-bottom: 55px;
  }

  @media (min-width: $vp-1150) {
    width: calc(50% - 50px);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 50px;
  }
}

.contacts__map-image {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  max-height: 362px;
  background-color: $color-white-smoke;
  object-fit: cover;
}

.contacts__map {
  height: 454px;
  overflow: hidden;
  z-index: 2;
}

.contacts__map-pin {
  position: absolute;
  top: calc(50% - 83px);
  left: calc(50% - 22px);
  z-index: 3;

  @media (min-width: $vp-768) {
    top: calc(50% - 90px);
  }

  @media (min-width: $vp-1150) {
    top: calc(50% - 42px);
  }
}

.contacts__button {
  margin: 0 30px;
  min-height: 50px;
  padding: 0 30px;

  @media (min-width: $vp-768) {
    width: 230px;
    margin: 0 auto;
  }

  @media (min-width: $vp-1150) {
    margin-left: 174px;
  }
}
