.footer {
  background-color: $color-white-smoke;
  position: relative;

  @media (min-width: $vp-768) {
    min-height: 141px;
    display: flex;
  }
}

.footer__wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $vp-1150;
    margin: 0 auto;
    margin-top: -7px;
  }
}

.footer__logo-wrapper {
  @media (min-width: $vp-768) {
    position: relative;
    display: flex;
    width: max-content;
  }

  @media (min-width: $vp-1150) {
    left: 50px;
  }
}

.footer__social {
  width: 100%;
  padding: 27px 0 27px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $color-whisper-grey-2;

  @media (min-width: $vp-768) {
    width: max-content;
    padding: 30px 0;
    border: none;
  }
}

.footer__copyright {
  width: 100%;
  padding: 21px 0 33px 0;
  display: flex;
  justify-content: center;

  @media (min-width: $vp-768) {
    width: max-content;
    max-width: 30%;
    padding: 30px 0;
  }
}
