.header {
  min-height: 79px;
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  box-shadow: 0px 1px 0px $color-whisper-grey, inset 0px 1px 0px $color-whisper-grey;

  @media (min-width: $vp-768) {
    align-items: center;
  }
}

.header__wrapper {
  width: 100%;
  min-width: $vp-320;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    display: flex;
    align-items: center;
    min-width: $vp-768;
    flex-wrap: wrap;
    min-height: 89px;
    // padding: 0 50px;
  }
}

.header__logo {
  z-index: 1;
  width: 100%;
  min-height: 79px;

  @media (min-width: $vp-768) {
    display: flex;
    width: max-content;
    margin: 0;
    padding-left: 50px;
    border-bottom: 1px solid rgba($color-black, 0.1);
  }
}

.header__nav {
  width: 100%;

  // @media (min-width: $vp-768) {
  //   width: max-content;
  // }
}

.header__text {
  display: none;

  @media (min-width: $vp-768) {
    display: flex;
    order: 5;
    min-width: 40%;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0;
    padding-right: 50px;
    padding-top: 20px;
    z-index: 2;
  }
}
