.header {
  min-height: 79px;
  min-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  box-shadow: 0 1px 0 $color-whisper-grey, inset 0 1px 0 $color-whisper-grey;

  @media (min-width: $vp-768) {
    align-items: center;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      left: 0;
      right: 0;
      height: 100%;
      min-height: 62px;
      background-color: $color-snow;
      border-top: 1px solid rgba($color-black, 0.1);
      z-index: -1;
    }
  }
}

.header__wrapper {
  width: 100%;
  min-width: $vp-320;
  max-width: $vp-1150;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    display: flex;
    align-items: center;
    min-width: $vp-768;
    flex-wrap: wrap;
    min-height: 89px;
  }
}

.header__logo {
  z-index: 1;
  width: 100%;
  min-height: 79px;

  @media (min-width: $vp-768) {
    display: flex;
    width: max-content;
    margin: 0;
    padding-left: 50px;
  }
}

.header__nav {
  width: 100%;
}

.header__text {
  display: none;

  @media (min-width: $vp-768) {
    display: flex;
    order: 5;
    width: 40%;
    align-items: flex-start;
    text-align: end;
    justify-content: flex-end;
    margin: 0;
    padding-right: 50px;
    padding-top: 20px;
    z-index: 2;
  }

  @media (min-width: $vp-1150) {
    margin-left: 50px;
    width: 30%;
  }
}
