.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  z-index: 1;
  background-color: $color-snow;
  background-image: url("../img/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18%;
  background-size: auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-background-mobile-2x.jpg");
  }

  @media (min-width: $vp-768) {
    background-image: url("../img/hero-backgrount-tablet-desktop.jpg");
    background-size: auto;
    background-position: 50% 111%;
    padding-top: 20px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-backgrount-tablet-desktop-2x.jpg");
    }
  }

  @media (min-width: $vp-1150) {
    background-position: 50% 126%;
  }
}

.hero__title-container {
  width: 100%;
  padding: 73px 30px 120px 30px;
  max-width: $vp-1150;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    padding: 66px 50px 372px 50px;
  }
}

.hero__title {
  display: flex;
  text-align: center;
  font-family: $ff-opensans;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $color-black;
  max-width: 540px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
    max-width: 700px;
  }
}

.hero__list {
  padding: 0;
  list-style-type: none;
  width: 100%;
  max-width: $vp-1150;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.hero__item {
  background-color: $color-downy;
  display: flex;
  align-items: center;
  position: relative;

  transition: margin 0.3s, background-color 0.3s;

  @media (min-width: $vp-768) {
    width: 100%;
  }

  &:hover,
  &:focus-within {
    margin-top: -5px;
    background-color: $color-downy-1;
    transition: margin 0.3s, background-color 0.3s;
  }

  &:nth-child(2n) {
    background-color: $color-puerto-rico;

    &:hover,
    &:focus-within {
      background-color: $color-puerto-rico-2;
      transition: margin 0.3s, background-color 0.3s;
    }
  }
}

.hero__quick-link-icon {
  color: $color-dark-cyan;
  opacity: 0.5;
  transform: translateY(4px);

  &--interior {
    margin-right: 10px;
  }
}

.hero__quick-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 103px;
  padding: 24px 36px 31px 30px;
  font-family: $ff-opensans;
  cursor: pointer;
  transition: padding 0.3s;


  @media (min-width: $vp-768) {
    padding: 25px 36px 34px 36px;
  }

  @media (min-width: $vp-1150) {
    padding: 25px 36px 34px 37px;
  }

  &:hover {
    padding-bottom: 36px;
    transition: padding 0.3s;

    @media (min-width: $vp-768) {
      padding-bottom: 39px;
    }

    & .hero__quick-link-icon {
      opacity: 0.7;
    }
  }

  &:active {
    padding-bottom: 36px;
    transition: padding 0.3s;

    @media (min-width: $vp-768) {
      padding-bottom: 39px;
    }

    & .hero__quick-link-icon {
      opacity: 0.3;
    }
  }

  &:focus {
    outline: transparent;
    box-shadow: 9px 9px 6px -5px rgba($color-black, 0.3);
  }

  &:disabled {
    opacity: 0.3;
  }
}

.hero__quick-link-text {
  margin: 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $color-white;
  max-width: 130px;

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;
  }
}
