.promotion {
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/promotion-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 6px;
  }
}

.promotion__title {
  margin: 0;
  min-width: 260px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
  margin-bottom: 3px;
}

.promotion__promotion-text {
  margin: 0;
  display: flex;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-downy;
  margin-bottom: 17px;
}

.promotion__description {
  margin: 0;
  min-width: 260px;
  margin-bottom: 28px;
}

.promotion__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: 28px;
}

.promotion__item {
  display: grid;
  grid-template-columns: 30% 51%;
  border-bottom: 1px solid $color-whisper-grey;
}

.promotion__text,
.promotion__net {
  line-height: 20px;
  margin: 12px 0;
}

.promotion__product-image {
  display: flex;
  margin: 0 auto;
  margin-bottom: 25px;
}

.promotion__inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotion__promotion-product-cost {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 17px;
}

.promotion__button {
  min-height: 52px;
  width: 100%;
  flex-grow: 1;
}
