.user-list {
  width: 100%;
  position: absolute;
  top: 79px;
  left: 0;
}

.user-list__item {
  z-index: 2;
  background-color: $color-white;

  & :hover {
    opacity: 0.6;
  }

  & :active {
    opacity: 0.3;
  }

  & :focus-visible {
    outline: 2px solid $color-charcoal-grey;
  }

  & :invalid {
    background-color: $color-whisper-grey;
  }
}

.user-list__link {
  color: inherit;
  display: flex;
  position: relative;

  &::before {
    position: absolute;
    width: 21px;
    height: 18px;
    top: 2px;
    left: -47px;
  }
}

.user-list__link--search {
  &::before {
    content: url("../img/search-icon.svg");
  }
}

.user-list__link--cart {
  &::before {
    content: url("../img/cart-icon.svg");
  }
}

.user-list__link--current {
  cursor: default;
  pointer-events: none;
}

.user-list__item ~ .user-list__link::before {
  & :hover {
    opacity: 1;
    color: $color-downy;
  }

  & :active {
    color: $color-downy;
  }
}
