.user-list {
  width: 100%;
  position: relative;
  top: 79px;
  left: 0;
}

.user-list__item {
  z-index: 2;
  background-color: $color-white;
}

.user-list__link-icon {
  position: absolute;
  top: 2px;
  left: -47px;
  color: inherit;
  opacity: 0.2;
}

.user-list__link {
  color: inherit;
  display: flex;
  position: relative;

  &:hover .user-list__link-icon {
    fill: $color-downy;
    color: $color-downy;
    opacity: 1;
  }

  &:hover .user-list__link-text {
    opacity: 0.6;
  }

  &:active .user-list__link-icon {
    fill: $color-downy;
    color: $color-downy;
    opacity: 0.3;
  }

  &:active .user-list__link-text {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 2px solid $color-charcoal-grey;
  }

  &:invalid {
    background-color: $color-whisper-grey;
  }
}

.user-list__link--current {
  cursor: default;
  pointer-events: none;
}
