// Colors
// -------------------

$color-black: #000000;
$color-white: #ffffff;
$color-downy: #63d1bb;
$color-downy-2: #62d1ba;
$color-puerto-rico: #56c3b2;
$color-dark-cyan: #149080;
$color-charcoal-grey: #444444;
$color-whisper-grey: #ececec;
$color-whisper-grey-2: #e5e5e5;
$color-white-smoke: #f1f1f1;
$color-snow: #f9f9f9;

// Viewports
// -------------------

$vp-320: 320px;
$vp-770: 770px;
$vp-1150: 1150px;

// Typography
// -------------------

$ff-opensans: "Open Sans", "Arial", sans-serif;
